@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0cdf4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f0cdf4;
  }
}
html {
  overflow-x: hidden;
}
body {
  color: var(--foreground);
  background: var(--background);
  transition-property: opacity, background, transform, filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.page-transition {
  opacity: 0;
  background: #000;
  transform: translateY(100px);
  filter: blur(16px);
}
.button-transition {
  opacity: 0;
  background: #000;
  transform: translateX(100px);
  filter: blur(16px);
}
@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
nav ul li a {
  border-bottom: 0px solid transparent;
}
nav ul li a:hover {
  border-bottom: 2px solid #fff;
  transition: border-bottom  500ms ease-in-out;
}

/* carousel */
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&display=swap");
.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Fauna One", serif;
  padding-bottom: 2rem;
}
h1, h2 {
  font-family: "Fauna One", serif;
}

ul.leading-7 {
  list-style-type: disc;
  margin-left: 1rem;
}
ul.leading-7 li:first-of-type {
  list-style-type: none;
  margin-left: -1rem;
}
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 3.5rem; /* Adjust height based on your text size */
  margin-top: 1rem;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  will-change: transform;
  font-size: 2.5rem; /* Adjust font size */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}